ion-avatar img {
  background: rgba(var(--ion-color-primary-rgb), 0.1);
  border-radius: 50%;
  padding: 5px;
}

ion-list {
  background: transparent;
}

ion-item {
  --background: transparent;
  margin-bottom: 8px;
  border-radius: 8px;
  border: 1px solid var(--ion-color-light);
}